<!-- <p>policy works!</p> -->
<h1 class="text-center">User Application</h1>

<div class="topnav">

<a class="active" href="#home" routerLink="/view-policy">View Policy</a>

<a href="#about" routerLink="/view-policy"> My Profile</a>

<a href="#contact">My Policy</a>

<a href="#history">Logout</a></div>

<!-- <h2>Life Insurance</h2> -->
<section class="part">

  <h2 class="title">Importance Of Life Insuarance</h2>

  
  <p>The average penetration and density of life insurance in India is a measly 2.76%. There have been improvements in this arena but overall the growth has been rather slow in India. Not many people are aware of the benefits of life insurance and the numbers for penetration are an indicator of the same.

    Accidents and mishaps are strong indicators of how fragile human life can be and how we need to systemically insure our lives. It is an important tool for providing an individual's family with safety and security. It acts as a protective cover to safeguard the insured's dependents. In the event individuals do not insure their lives, their dependents end up facing the tragic loss of their loved one along with a whole host of liabilities such as rent, loans, EMI's and child services.
  
 <br> 
<br>  
<button type="submit" class="btn btn-success btn-lg btn-block" routerLink="/view-policy" >Buy Now</button>
</section>




<footer class="bg-dark text-center text-white">
    <div class="">
        <h5 class="text-uppercase">Life Insurance Portal</h5>

        <p>

        Buying life insurance protects your spouse and children from the potentially devastating financial losses that could result if something happened to you.
        It provides financial security, helps to pay off debts, helps to pay living expenses, and helps to pay any medical or final expenses.

        </p>
      </div>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          > <fa-icon [icon]="faFacebook"></fa-icon></a>
  
        <!-- Twitter -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          > <fa-icon [icon]="faTwitter"></fa-icon></a>
  
        <!-- Google -->
        <!-- <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a> -->
  
        <!-- Instagram -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          > <fa-icon [icon]="faInstagram"></fa-icon></a>
  
        <!-- Linkedin -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><fa-icon [icon]="faLinkedin"></fa-icon></a>
  
        <!-- Github -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><fa-icon [icon]="faGithub"></fa-icon></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
    Life Insuarance Portal
    </div>
    <!-- Copyright -->
  </footer>

