<h1 class="text-center">Hello Admin </h1>



<div class="topnav">

<a class="active" href="#home" routerLink="/add-policy">Add Policy</a>

<!-- <a href="#about" >  Profile Details</a> -->

<a href="#contact" routerLink="/admin-details">Applicant Details</a>
<a href="#contact" routerLink="/updatepolicy">Update Policy</a>

<a href="#history" style="float: right">Logout</a></div>


<!-- <p>my-policy works!</p> -->

<h2 class="text-center">Customer Policies</h2>
<!-- User data will displayed  -->
<div class="back">

    <table class="table">
        <thead class="table-dark">
    <tr>
   
    <th>policyId</th>
   
   <th>policytype</th>
   
    <!-- <th>PolicyName</th> -->
    <th>applicantAddress</th>
   
   <th>applicantMobile</th>
   
    <th>applicantEmail</th>
    <th>applicantAadhaar</th>
   
   <th>applicantPan</th>
   
    <th>applicantSalary</th>
   
   </tr>
        </thead>
   
        <tbody>
   <tr *ngFor="let pr of profile">
   
    <td>{{pr.policyId}}</td>
   
   <td>{{pr.policytype}}</td>
   
   <!-- <td>{{pr.policyName}}</td> -->
   <td>{{pr.applicantAddress}}</td>
   <td>{{pr.applicantMobile}}</td>
   <td>{{pr.applicantEmail}}</td>
   <td>{{pr.applicantAadhaar}}</td>
   <td>{{pr.applicantPan}}</td>
   <td>{{pr.applicantSalary}}</td>
  
   </tr>
        </tbody>
   </table>
   
    </div>



    <!-- footer -->

    <footer class="bg-dark text-center text-white">
     <div class="">
         <h5 class="text-uppercase">Life Insurance Portal</h5>
 
         <p>
 
         Buying life insurance protects your spouse and children from the potentially devastating financial losses that could result if something happened to you.
         It provides financial security, helps to pay off debts, helps to pay living expenses, and helps to pay any medical or final expenses.
 
         </p>
       </div>
     <!-- Grid container -->
     <div class="container p-4 pb-0">
       <!-- Section: Social media -->
       <section class="mb-4">
         <!-- Facebook -->
         <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
           > <fa-icon [icon]="faFacebook"></fa-icon></a>
   
         <!-- Twitter -->
         <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
           > <fa-icon [icon]="faTwitter"></fa-icon></a>
   
         <!-- Google -->
         <!-- <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
           ><i class="fab fa-google"></i
         ></a> -->
   
         <!-- Instagram -->
         <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
           > <fa-icon [icon]="faInstagram"></fa-icon></a>
   
         <!-- Linkedin -->
         <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
           ><fa-icon [icon]="faLinkedin"></fa-icon></a>
   
         <!-- Github -->
         <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
           ><fa-icon [icon]="faGithub"></fa-icon></a>
       </section>
       <!-- Section: Social media -->
     </div>
     <!-- Grid container -->
   
     <!-- Copyright -->
     <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
       © 2020 Copyright:
     Life Insuarance Portal
     </div>
     <!-- Copyright -->
   </footer>